<div class="" style="padding-top: 5%;">
    <ul class="nav nav-tabs" id="myTab" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#cuisine" role="tab" aria-controls="home"
          aria-selected="true">Cuisine</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#patisserie" role="tab" aria-controls="profile"
          aria-selected="false">Patisserie</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="contact-tab" data-toggle="tab" href="#service" role="tab" aria-controls="contact"
          aria-selected="false">Service-Bar</a>
      </li>
    </ul>
    <div style="text-align: center;">
    <div class="tab-content" id="myTabContent">
      <div class="tab-pane fade show active" id="cuisine" role="tabpanel" aria-labelledby="home-tab">
         <div class="row"> <div class="col-sm-2"></div>
  <div class="col-sm-8" style="padding-top: 5%;">
    <div class="card mb-3 sm-8" style="max-width: 740px;">
      <div class="row no-gutters">
        <div class="col-md-4">
          <img src="./assets/params/images/logo/cuisine.png" class="card-img w-100 h-100" alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">Chapitre 1.Introduction</h5>
            <p class="card-text">Propose un minimum de 80 heures de formations : en Hygiène, cuisine, Boulangerie, Pâtisserie,
              Couture, Coupe, Dessin,
              Teinture, Coiffure ou Leadership etc. Des formations adaptées en fonctions de vos besoins et proposées à
              travers tous le
              Sénégal</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            <a type="button" routerLink="/coursbep" class="btn btn-primary" style="margin-left: 65%;">Voir les cours</a>

          </div>
        </div>
      </div>
    </div>
        </div>
        <div class="col-sm-2"></div>
         </div>
         <div class="row"> <div class="col-sm-2"></div>
  <div class="col-sm-8" style="padding-top: 5%;">
    <div class="card mb-3 sm-8" style="max-width: 740px;">
      <div class="row no-gutters">
        <div class="col-md-4">
          <img src="./assets/params/images/logo/cuisine.png" class="card-img w-100 h-100" alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">Chapitre 2.Introduction</h5>
            <p class="card-text">Propose un minimum de 80 heures de formations : en Hygiène, cuisine, Boulangerie, Pâtisserie,
              Couture, Coupe, Dessin,
              Teinture, Coiffure ou Leadership etc. Des formations adaptées en fonctions de vos besoins et proposées à
              travers tous le
              Sénégal</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            <a type="button" routerLink="/coursbep" class="btn btn-primary" style="margin-left: 65%;">Voir les cours</a>

          </div>
        </div>
      </div>
    </div>
        </div>
        <div class="col-sm-2"></div>
         </div>
         <div  class="row">
           <div class="col-sm-2"></div>
  <div class="col-sm-8" style="padding-top: 5%;">
    <div class="card mb-3 sm-8" style="max-width: 740px;">
      <div class="row no-gutters">
        <div class="col-md-4">
          <img src="./assets/params/images/logo/cuisine.png" class="card-img w-100 h-100" alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">Chapitre 3.Introduction</h5>
            <p class="card-text">Propose un minimum de 80 heures de formations : en Hygiène, cuisine, Boulangerie, Pâtisserie,
              Couture, Coupe, Dessin,
              Teinture, Coiffure ou Leadership etc. Des formations adaptées en fonctions de vos besoins et proposées à
              travers tous le
              Sénégal</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            <a type="button" routerLink="/coursbep" class="btn btn-primary" style="margin-left: 65%;">Voir les cours</a>

          </div>
        </div>
      </div>
    </div>
        </div>
        <div class="col-sm-2"></div>
         </div>


      </div>

      <!--Partie patisserie-->
      <div class="tab-pane fade" id="patisserie" role="tabpanel" aria-labelledby="profile-tab">
        <div  class="row"> <div class="col-sm-2"></div>
        <div class="col-sm-8" style="padding-top: 5%;">
          <div class="card mb-3 sm-8" style="max-width: 740px;">
            <div class="row no-gutters">
              <div class="col-md-4">
                <img src="./assets/params/images/logo/patisserie.jpg" class="card-img w-100 h-100" alt="...">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">Chapitre 1.Introduction</h5>
                  <p class="card-text">Propose un minimum de 80 heures de formations : en Hygiène, cuisine, Boulangerie, Pâtisserie,
                    Couture, Coupe, Dessin,
                    Teinture, Coiffure ou Leadership etc. Des formations adaptées en fonctions de vos besoins et proposées à
                    travers tous le
                    Sénégal</p>
                  <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                  <a type="button" routerLink="/coursbep" class="btn btn-primary" style="margin-left: 65%;">Voir les cours</a>

                </div>
              </div>
            </div>
          </div>
              </div>
              <div class="col-sm-2"></div>
               </div>
               <div class="row"> <div class="col-sm-2"></div>
        <div class="col-sm-8" style="padding-top: 5%;">
          <div class="card mb-3 sm-8" style="max-width: 740px;">
            <div class="row no-gutters">
              <div class="col-md-4">
                <img src="./assets/params/images/logo/patisserie.jpg" class="card-img w-100 h-100" alt="...">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">Chapitre 2.Introduction</h5>
                  <p class="card-text">Propose un minimum de 80 heures de formations : en Hygiène, cuisine, Boulangerie, Pâtisserie,
                    Couture, Coupe, Dessin,
                    Teinture, Coiffure ou Leadership etc. Des formations adaptées en fonctions de vos besoins et proposées à
                    travers tous le
                    Sénégal</p>
                  <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                  <a type="button" routerLink="/coursbep" class="btn btn-primary" style="margin-left: 65%;">Voir les cours</a>

                </div>
              </div>
            </div>
          </div>
              </div>
              <div class="col-sm-2"></div>
               </div>
               <div class="row">
                 <div class="col-sm-2"></div>
        <div class="col-sm-8" style="padding-top: 5%;">
          <div class="card mb-3 sm-8" style="max-width: 740px;">
            <div class="row no-gutters">
              <div class="col-md-4">
                <img src="./assets/params/images/logo/patisserie.jpg" class="card-img w-100 h-100" alt="...">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">Chapitre 3.Introduction</h5>
                  <p class="card-text">Propose un minimum de 80 heures de formations : en Hygiène, cuisine, Boulangerie, Pâtisserie,
                    Couture, Coupe, Dessin,
                    Teinture, Coiffure ou Leadership etc. Des formations adaptées en fonctions de vos besoins et proposées à
                    travers tous le
                    Sénégal</p>
                  <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                  <a type="button" routerLink="/coursbep" class="btn btn-primary" style="margin-left: 65%;">Voir les cours</a>

                </div>
              </div>
            </div>
          </div>
              </div>
              <div class="col-sm-2"></div>
               </div>

      </div>

      <!--Partie Service Bar-->
      <div class="tab-pane fade" id="service" role="tabpanel" aria-labelledby="contact-tab">
        <div class="row"> <div class="col-sm-2"></div>
        <div class="col-sm-8" style="padding-top: 5%;">
          <div class="card mb-3 sm-8" style="max-width: 740px;">
            <div class="row no-gutters">
              <div class="col-md-4">
                <img src="./assets/params/images/logo/serviceBar.jpg" class="card-img w-100 h-100" alt="...">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">Chapitre 2.Introduction</h5>
                  <p class="card-text">Propose un minimum de 80 heures de formations : en Hygiène, cuisine, Boulangerie, Pâtisserie,
                    Couture, Coupe, Dessin,
                    Teinture, Coiffure ou Leadership etc. Des formations adaptées en fonctions de vos besoins et proposées à
                    travers tous le
                    Sénégal</p>
                  <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                  <a type="button" routerLink="/coursbep" class="btn btn-primary" style="margin-left: 65%;">Voir les cours</a>

                </div>
              </div>
            </div>
          </div>
              </div>
              <div class="col-sm-2"></div>
               </div>
               <div class="row"> <div class="col-sm-2"></div>
        <div class="col-sm-8" style="padding-top: 5%;">
          <div class="card mb-3 sm-8" style="max-width: 740px;">
            <div class="row no-gutters">
              <div class="col-md-4">
                <img src="./assets/params/images/logo/serviceBar.jpg" class="card-img w-100 h-100" alt="...">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">Chapitre 2.Introduction</h5>
                  <p class="card-text">Propose un minimum de 80 heures de formations : en Hygiène, cuisine, Boulangerie, Pâtisserie,
                    Couture, Coupe, Dessin,
                    Teinture, Coiffure ou Leadership etc. Des formations adaptées en fonctions de vos besoins et proposées à
                    travers tous le
                    Sénégal</p>
                  <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                  <a type="button" routerLink="/coursbep" class="btn btn-primary" style="margin-left: 65%;">Voir les cours</a>

                </div>
              </div>
            </div>
          </div>
              </div>
              <div class="col-sm-2"></div>
               </div>
               <div  class="row">
                 <div class="col-sm-2"></div>
        <div class="col-sm-8" style="padding-top: 5%;">
          <div class="card mb-3 sm-8" style="max-width: 740px;">
            <div class="row no-gutters">
              <div class="col-md-4">
                <img src="./assets/params/images/logo/serviceBar.jpg" class="card-img w-100 h-100" alt="...">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">Chapitre 3.Introduction</h5>
                  <p class="card-text">Propose un minimum de 80 heures de formations : en Hygiène, cuisine, Boulangerie, Pâtisserie,
                    Couture, Coupe, Dessin,
                    Teinture, Coiffure ou Leadership etc. Des formations adaptées en fonctions de vos besoins et proposées à
                    travers tous le
                    Sénégal</p>
                  <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                  <a type="button" routerLink="/coursbep" class="btn btn-primary" style="margin-left: 65%;">Voir les cours</a>

                </div>
              </div>
            </div>
          </div>
              </div>
              <div class="col-sm-2"></div>
               </div>

      </div>
    </div>
  </div>
  </div>
