
      <div class="row p-5" style="background-color:  blue;color: white;">
          <div class="col-sm-12  p-0  ">
          </div>
          <div class="row">
            <div class="col-sm-6">
          <div style="text-align: center;">
              <img src="./assets/params/images/logo/students-full.png"  width="50%" alt="..."></div>
        </div>
        <div class="col-sm-6">

              <h1 class="text-white" style="font-size: 62px;">CAIF</h1>
              <p class="">Apprenez à apprendre .<br/>
                Decouvrez les métiers hotelleries, restaurations,coutures.<br/>
                Et prenez votre carrière en main.
              </p>
              <a href="https://www.caif.sn" target="_blank" type="button" class="btn btn-outline-primary" style="background-color: white;color: blue;">En savoir plus</a>
      </div>
      </div>
</div>
  <div class="row p-5" style="background-color:  rgba(131, 150, 166, 0.11)">
    <div class="col-sm-12  p-0  ">
      <h1 class="text-center" style="color:#4493D2;">Le Concept</h1>
    </div>
    <div class="col-sm-12">
    <div class="row my-5">

      <div class="col-sm-4">
        <a routerLink="/hotellericap">
          <div style="text-align: center;">
        <img src="./assets/params/images/logo/food.png"  width="50%" alt="..."></div>
        </a>
        <p class="text-center" style="font-size: 20px; color:#4493D2;">1. Hotellerie restauration </p>
        <p class="text-center">En Restauration & Hôtellerie propose trois types de diplômes : Le Diplôme de Qualification Professionnelle dit DQP qui est un diplôme d'école, qui se prépare sur 12 mois. Le CAP qui est un diplôme d'ETAT, qui se prépare sur 3 ans. Le BEP qui est un diplome d'ETAT , qui se prépare sur 2 ans. </p>
      </div>
      <div class="col-sm-4">
        <a routerLink="/couturecap">
          <div style="text-align: center;">
        <img src="./assets/params/images/logo/sewing-machine.png" width="50%" alt="..."></div>
        </a>
        <p class="text-center" style="font-size: 20px; color:#4493D2;">2. Couture </p>
        <p class="text-center">En Couture & Dessin de Mode & Patronage propose deux types de diplômes : LeDiplôme de Qualification Professionnelle dit DQP qui est un diplôme d'école, qui se prépare sur 2 ans. Le CAP qui est un diplôme d'ETAT, qui se prépare sur 3 ans.</p>
      </div>
      <div class="col-sm-4">
          <a routerLink="/home">
            <div style="text-align: center;">
            <img src="./assets/params/images/logo/team.png"  width="50%" alt="..."></div>
          </a>
        <p class="text-center" style="font-size: 20px; color:#4493D2;">3. Formation </p>
        <p class="text-center">Propose un minimum de 80 heures de formations : en Hygiène, cuisine, Boulangerie, Pâtisserie, Couture, Coupe, Dessin, Teinture, Coiffure ou Leadership etc. Des formations adaptées en fonctions de vos besoins et proposées à travers tous le Sénégal
          </p>
      </div>

    </div>
  </div>
  </div>
  <div class="row p-5" style="background-color:  white">
      <div class="col-sm-12  p-0  ">
        <h1 class="text-center" style="color:#4493D2;">NOS FORMATIONS</h1>
      </div>
      <div class="row my-5">

        <div class="col-sm-6">
          <p>  Propose un minimum de 80 heures de formations : en Hygiène, cuisine, Boulangerie, Pâtisserie, Couture, Coupe, Dessin, Teinture, Coiffure ou Leadership etc. Des formations adaptées en fonctions de vos besoins et proposées à travers tous le Sénégal
          </p>
        </div>
        <div class="col-sm-6">
            <iframe  width="480" height="280" src="https://www.youtube.com/embed/YZ5BJ1b4ITU" frameborder="0"
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>


      </div>
    </div>
    <div  class="row p-5" style="background-color:  rgba(131, 150, 166, 0.11)">
        <div class="col-sm-12  p-0  ">
          <h1 class="text-center" style="color:#4493D2;">Nos étudiants témoignent</h1>
        </div>
        <div class="col-sm-3"></div>
        <div class="row my-5">
            <div class="col-sm-6">
            <div *ngIf="blog === 'ok' || blog === ''" class="card mb-3" style="width: 700px;">
                <div class="row no-gutters">
                  <div class="col-md-4">
                      <img src="./assets/params/images/logo/blog1.jpg" class="card-img w-100 h-100" alt="...">
                    </div>
                  <div class="col-md-8">
                    <div class="card-body">
                        <p class="card-text">c'est une formation qui m'a parmi aujourd'hui d'integrer les grandes hotels de Dakar et de pouvoire gagner beaucoup plus d'expérience en realisant mon reve.</p>
                      <p class="card-text">c'est une formation qui m'a parmi aujourd'hui d'integrer les grandes hotels de Dakar et de pouvoire gagner beaucoup plus d'expérience en realisant mon reve.</p>
                      <p class="card-text"><small class="text-muted">Mariam Thiam etudiant en courure et confection</small></p>
                    </div>
                  </div>
                </div>
              </div>
              <div *ngIf="blog === 'ok2'" class="card mb-3" style="width: 700px;">
                  <div class="row no-gutters">
                    <div class="col-md-4">
                        <img src="./assets/params/images/logo/blog2.jpeg" class="card-img w-100 h-100"  alt="...">
                      </div>
                    <div class="col-md-8">
                      <div class="card-body">
                          <p class="card-text">c'est une formation qui m'a parmi aujourd'hui d'integrer les grandes hotels de Dakar et de pouvoire gagner beaucoup plus d'expérience en realisant mon reve.</p>
                          <p class="card-text">c'est une formation qui m'a parmi aujourd'hui d'integrer les grandes hotels de Dakar et de pouvoire gagner beaucoup plus d'expérience en realisant mon reve.</p>
                          <p class="card-text"><small class="text-muted">Adja Thiam etudiant en courure et confection</small></p>
                          </div>
                    </div>
                  </div>
                </div>
                <div *ngIf="blog === 'ok3' " class="card mb-3" style="width: 700px;">
                    <div class="row no-gutters">
                      <div class="col-md-4">
                          <img src="./assets/params/images/logo/blog3.jpg" class="card-img w-100 h-100" alt="...">
                        </div>
                      <div class="col-md-8">
                        <div class="card-body">
                            <p class="card-text">c'est une formation qui m'a parmi aujourd'hui d'integrer les grandes hotels de Dakar et de pouvoir gagner beaucoup plus d'expérience en realisant mon reve.</p>
                            <p class="card-text">c'est une formation qui m'a parmi aujourd'hui d'integrer les grandes hotels de Dakar et de pouvoir gagner beaucoup plus d'expérience en realisant mon reve.</p>
                            <p class="card-text"><small class="text-muted">Thioro Thiam etudiant en courure et confection</small></p>
                              </div>
                      </div>
                    </div>
                  </div>
              <nav aria-label="Page navigation example">
                  <ul class="text-center pagination">
                    <li class="page-item"><button class="page-link" (click)="getBlog1()">1</button></li>
                    <li class="page-item"><button class="page-link" (click)="getBlog2()">2</button></li>
                    <li class="page-item"><button class="page-link" (click)="getBlog3()">3</button></li>
                  </ul>
                </nav>
          </div>
          <div class="col-sm-3"></div>
        </div>
      </div>


